auto_parser-back_2/
auto_parser-back_3/
venv/
myenv/
*/venv/
**/venv/
*/myenv/
**/myenv/
db.sqlite3
*/db.sqlite3
initial_commands.txt


auto-parser-front/src/config/
auto_parser-back/.env.prod
auto_parser-back/.env.prod.db
**/.vscode
**/.idea
